.read-more-text {
    font-size: 0.85rem;
    font-weight: bold;
    color: $black;

    i.fa-long-arrow-alt-right {
        font-size: 0.85rem;
        padding-left: 0.25em;
        color: black;
    }
}

input:focus::placeholder {
    color: transparent!important;
  }

// select {
    
// }

h2 {
    font-size: 3rem;
}

.pdf-title {

    @media screen and (max-width: 992px) {
       display: flex;
       align-items: center;
       justify-content: space-between;
    }

}

.my-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
