.read-more-text {
    font-size: 0.85rem;
    font-weight: bold;
    color: $black;

    i.fa-long-arrow-alt-right {
        font-size: 0.85rem;
        padding-left: 0.25em;
        color: black!important;
    }
}

input:focus::placeholder {
    color: transparent!important;
  }

// select {
    
// }