.page-template-firstpage {

    #menu-item-176 {
        display: none;
    }

    #menu-item-177 {
        display: none;
    }

    #menu-item-454 {
        display: none;
    }

    #menu-item-515 {
        display: none;
    }

    #menu-item-431 {
        display: none;
    }

    #menu-item-430 {
        display: none;
    }

    #menu-item-613 {
        display: none;
    }

    #menu-item-798 {
        display: none;
    }

    #menu-item-334 {
        display: none;
    }

    // .my-search-form {
    //     display: none;
    // }

    .header-title-container {
        display: none;
    }

    .logo-container {
        padding: 0;
    }

    .bussiness-photo {
        margin:0;
        padding: 0;
    }

    .science-photo {
        padding:0;
    }

    .science-bussiness-photo {
        margin: 0;
    }
    
}